{% set banner_title = 'Automated data extraction for' %}
{% set banner_cta = 'Get your quote' %}
{% set invoices = 'Invoices' %}
{% set legal_documents = 'Legal Documents' %}
{% set tax_assesments = 'Tax Assesments' %}