{% set title = 'Agenion – Automated Document Data Extraction' %}

{% set banner_title = 'Automated data extraction for' %}
{% set banner_cta = 'Get your quote' %}
{% set invoices = 'Invoices' %}
{% set legal_documents = 'Legal Documents' %}
{% set tax_assesments = 'Tax Assesments' %}

{% set and_more = 'and more...' %}

{% set features_grid_1_heading = 'Submit documents' %}
{% set features_grid_1_copy = 'Use our API or send us your paper.' %}
{% set features_grid_2_heading = 'Let our AI do its magic' %}
{% set features_grid_2_copy = 'We securly process your documents.' %}
{% set features_grid_3_heading = 'Receive data' %}
{% set features_grid_3_copy = 'Download your data or use one of our system integrations.' %}

{% set features = 'Product features' %}
{% set features_1_heading = 'Third-party integrations' %}
{% set features_1_copy = 'Over 40 vendors supported. Custom integrations are also possible.' %}
{% set features_2_heading = 'Automated processing' %}
{% set features_2_copy = 'Documents are automatically processed upon receipt.' %}
{% set features_3_heading = 'Transparent costs' %}
{% set features_3_copy = 'Fair and transparent pricing. Bundle discounts are available.' %}
{% set features_4_heading = 'Data archiving' %}
{% set features_4_copy = 'Optional long term storage for both paper and digital data.' %}
{% set features_5_heading = 'GDPR conformity' %}
{% set features_5_copy = 'GDPR compliant data processing and storage in Germany or Switzerland. ' %}
{% set features_6_heading = 'Unlimited scalability' %}
{% set features_6_copy = 'Flexible and automatic scaling for dynamic workloads.' %}

{% set feature_details_heading = 'Feature Details' %}
{% set feature_details_copy = 'Agenion\'s technology and features are tuned to fit even the most ambitious document processing needs.' %}

{% set feature_details_1_heading = 'Third-party integrations' %}
{% set feature_details_1_copy_before = 'Agenion integrates with' %}
{% set feature_details_1_copy_after = 'New integrations are created on-demand.' %}
{% set feature_details_2_heading = 'Automated processing' %}
{% set feature_details_2_copy_before = 'Submit documents via our web-interface, REST or SOAP APIs. Received documents are automatically processed. Processing results can be retrieved via' %}
{% set feature_details_2_copy_after = 'We also offer shipment of physical media.' %}
{% set feature_details_3_heading = 'Data formats' %}
{% set feature_details_3_copy_before = 'Processing results are available as JSON, XML, CSV, TSV and XRechnung 1.0. ' %}
{% set feature_details_3_copy_after = 'Custom serialization available on demand.' %}
{% set feature_details_4_heading = 'Transparent costs' %}
{% set feature_details_4_copy_before = 'Agenion transparently charges per document processed. A quota allows you to keep track of your costs and scale Agenion to your available budget. ' %}
{% set feature_details_4_copy_after = 'We offer discounted bundles for recurring workloads.' %}
{% set feature_details_5_heading = 'Data archiving' %}
{% set feature_details_5_copy_before = 'We store your digital data safely. Choose from multiple storage schemes fit for various durations and redundancy requirements. Agenion also offers storage for physical documents. ' %}
{% set feature_details_6_heading = 'GDPR conformity' %}
{% set feature_details_6_copy_before = 'All data is stored on encrypted volumes inside our Frankfurt and Zermatt data-centers.' %}
{% set feature_details_7_heading = 'Flexible scalability' %}
{% set feature_details_7_copy_before = ' Our infrastructure can automatically adapt to your processing requirements, aiming for a perfect balance between performance and cost.' %}

{% set please_choose = 'Please choose' %}
{% set next_step = 'Next step' %}
{% set previous_step = 'Previous step' %}

{% set sign_up = 'Sign up' %}
{% set start_sign_up = 'Get started' %}
{% set input = 'Input' %}
{% set output = 'Output' %}
{% set volume = 'Volume' %}
{% set contact = 'Contact' %}
{% set data_format_label = 'In which format is your data?' %}
{% set data_format_other_label = 'Please describe your data format:' %}
{% set data_format_other_placeholder = 'Custom data format' %}

{% set data_source_label = 'How will you transmit the documents?' %}
{% set data_source_other_label = 'Please describe your data source:' %}
{% set data_source_other_placeholder = 'Custom data source' %}

{% set data_output_label = 'In which format do you want to receive your data?' %}
{% set data_output_other_label = 'Please describe your output data format:' %}
{% set data_output_other_placeholder = 'Custom data format' %}

{% set data_integration_label = 'Which integration do you want to use?' %}
{% set data_integration_other_label = 'Integration name:' %}
{% set data_integration_other_placeholder = 'SevDesk, Datev, ...' %}

{% set data_volume_label = 'How many documents do you want to process per month?' %}

{% set first_name = 'First name' %}
{% set last_name = 'Last name' %}
{% set company = 'Company' %}
{% set email = 'Email address' %}
{% set thank_you_heading = 'Thanks for your interrest.' %}
{% set thank_you_copy = 'We are very pleased that you are interested in our application. We will keep you informed about our progress and send you an offer as soon as possibe. To be placed in our service queue, please confirm the link in the email we sent you.' %}

{% set footer = '&copy; Agenion – All rights reserved.' %}