{% extends 'layout/base.html.njk' %}

{% block body %}
  {% include 'partials/banner.njk' %}
  {% include 'partials/features-grid.njk' %}
  {% include 'partials/features.njk' %}
  {% include 'partials/features-details.njk' %}
  {% include 'partials/quote.njk' %}
{% endblock body %}