<div id="banner">
  <div class="wrapper style1">
    <div class="inner">
      <p>{{ t.banner_title }}</p>
      <h1 class="typewriter-animation" data-rotate='["{{ t.invoices }}", "{{ t.tax_assesments }}", "{{ t.legal_documents }}"]'></h1>
      <ul class="actions special">
        <li>
          <a id="form-link" href="#one" class="button large primary scrolly">{{ t.banner_cta }}</a >
        </li>
      </ul>
    </div>
  </div>
</div>