<div id="step-boxes" class="features-grid special">
  <div class="feature-wrapper">
    <div class="feature">
      <h2>1.</h2>
      <h4>Submit documents</h4>
      <p>Use our API or send us your paper.</p>
    </div>
  </div>
  <div class="feature-wrapper">
    <div class="feature">
      <h2>2.</h2>
      <h4>Let our AI do its magic</h4>
      <p>We securly process your documents.</p>
    </div>
  </div>
  <div class="feature-wrapper">
    <div class="feature">
      <h2>3.</h2>
      <h4>Receive data</h4>
      <p>Download your data or use one of our system integrations.</p>
    </div>
  </div>
</div>