<div id="feature-details">
  <div class="wrapper style2">
    <div class="inner">
      <header class="heading">
        <h2>Feature Details</h2>
        <p>
          Agenions technology and features are tuned to fit even the most ambitious document processing needs.
        </p>
      </header>
      <div class="spotlights">
        <div class="spotlight">
          <div class="image fit">
            <img src="../../images/pic02.jpg" alt=""/>
          </div>
          <div class="content">
            <h3>Third-party integrations</h3>
            <p>Agenion integrates with</p>
            <ul>
              <li>SAP</li>
              <li>Sage ERP</li>
              <li>Outright</li>
              <li>NetSuite</li>
              <li>Microsoft Dynamics</li>
            </ul>
            <p>New integrations are created on-demand.</p>
          </div>
        </div>
        <div class="spotlight">
          <div class="image fit alt">
            <img src="../../images/pic03.jpg" alt=""/>
          </div>
          <div class="content">
            <h3>Automated processing</h3>
            <p>
              Submit documents via our web-interface, REST or SOAP APIs. Received documents are automatically processed. Processing results can be retrieved via
            </p>
            <ul>
              <li>(s)FTP</li>
              <li>Webhooks</li>
              <li>API</li>
              <li>and more...</li>
            </ul>
            <p>We also offer shipment of physical media.</p>
          </div>
        </div>
        <div class="spotlight">
          <div class="image fit">
            <img src="../../images/pic03.jpg" alt=""/>
          </div>
          <div class="content">
            <h3>Data formats</h3>
            <p>
              Processing results can be stored as JSON, XML, CSV, TSV and XRechnung 1.0.
            </p>
            <p>Custom serialization available on demand.</p>
          </div>
        </div>
        <div class="spotlight">
          <div class="image fit alt">
            <img src="../../images/pic04.jpg" alt=""/>
          </div>
          <div class="content">
            <h3>Transparent costs</h3>
            <p>
              Agenion transparently charges per document processed. A quota allows you to keep track of your costs and scale Agenion to your available budget.
            </p>
            <p>
              <strong >We offer discounted bundles for recurring workloads.</strong >
            </p>
          </div>
        </div>
        <div class="spotlight">
          <div class="image fit">
            <img src="../../images/pic02.jpg" alt=""/>
          </div>
          <div class="content">
            <h3>Data archiving</h3>
            <p>
              We store your digital data safely. Choose from multiple storage schemes fit for various durations and redundancy requirements. Agenion also offers storage for physical documents.
            </p>
          </div>
        </div>
        <div class="spotlight">
          <div class="image fit alt">
            <img src="../../images/pic02.jpg" alt=""/>
          </div>
          <div class="content">
            <h3>GDRP conformity</h3>
            <p>
              All data is stored on encrypted volumes inside our Frankfurt and Zermatt data-centers.
            </p>
          </div>
        </div>
        <div class="spotlight">
          <div class="image fit">
            <img src="../../images/pic03.jpg" alt=""/>
          </div>
          <div class="content">
            <h3>Flexible scalability</h3>
            <p>
              Our infrastructure can automatically adapt to your processing requirements, aiming for a perfect balance between performance and cost.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>