<div id="features">
  <div class="wrapper special">
    <div class="inner">
      <header class="heading">
        <h2>Product features</h2>
        <!-- <p>Sed egestas, ante et vulputate volutpat semper est, vitae luctus metus libero eu augue. Morbi purus libero, faucibus adipiscing, commodo quis, gravida est. Sed lectus. Praesent elementum hendrerit tortor. Sed at felis. Vestibulum volutpat, lacus a ultrices sagittis, mi neque euismod dui, eu pulvinar nunc sapien ornare nisl.</p> -->
      </header>

      <div id="one" class="features-grid">
        <div class="feature">
          <h4>Third-party integrations</h4>
          <p>
            Over 40 vendors supported. Custom integrations are also possible.
          </p>
        </div>
        <div class="feature">
          <span class="icon solid fa-robot"></span>
          <h4>Automated processing</h4>
          <p>Documents are automatically processed upon receipt.</p>
        </div>
        <div class="feature">
          <span class="icon solid fa-receipt"></span>
          <h4>Transparent costs</h4>
          <p>
            Fair and transparent pricing. Bundle discounts are available.
          </p>
        </div>
        <div class="feature">
          <span class="icon solid fa-archive"></span>
          <h4>Data archiving</h4>
          <p>Optional long term storage for both paper and digital data.</p>
        </div>
        <div class="feature">
          <span class="icon solid fa-check"></span>
          <h4>GDPR conformity</h4>
          <p>
            GDPR compliant data processing and storage in Germany or Switzerland.
          </p>
        </div>
        <div class="feature">
          <span class="icon solid fa-rocket"></span>
          <h4>Unlimited scalability</h4>
          <p>Flexible and automatic scaling for dynamic workloads.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="image major" data-position="center">
    <img src="../../images/pic01.jpg" alt=""/>
  </div>
</div>