<div id="feature-details">
  <div class="wrapper style2">
    <div class="inner">
      <header class="heading">
        <h2>{{ t.feature_details_heading }}</h2>
        <p>
          {{ t.feature_details_copy }}
        </p>
      </header>
      <div class="spotlights">
        <div class="spotlight">
          <div class="image fit">
            <img src="../../images/pic02.jpg" alt=""/>
          </div>
          <div class="content">
            <h3>{{ t.feature_details_1_heading }}</h3>
            <p>{{ t.feature_details_1_copy_before }}</p>
            <ul>
              <li>SAP</li>
              <li>Sage ERP</li>
              <li>Outright</li>
              <li>NetSuite</li>
              <li>Microsoft Dynamics</li>
            </ul>
            <p>{{ t.feature_details_1_copy_after }}</p>
          </div>
        </div>
        <div class="spotlight">
          <div class="image fit alt">
            <img src="../../images/pic03.jpg" alt=""/>
          </div>
          <div class="content">
            <h3>{{ t.feature_details_2_heading }}</h3>
            <p>{{ t.feature_details_2_copy_before }}</p>
            <ul>
              <li>(s)FTP</li>
              <li>Webhooks</li>
              <li>API</li>
              <li>{{ t.and_more }}</li>
            </ul>
            <p>{{ t.feature_details_2_copy_after }}</p>
          </div>
        </div>
        <div class="spotlight">
          <div class="image fit">
            <img src="../../images/pic03.jpg" alt=""/>
          </div>
          <div class="content">
            <h3>{{ t.feature_details_3_heading }}</h3>
            <p>{{ t.feature_details_3_copy_before }}</p>
            <p>{{ t.feature_details_3_copy_after }}</p>
          </div>
        </div>
        <div class="spotlight">
          <div class="image fit alt">
            <img src="../../images/pic04.jpg" alt=""/>
          </div>
          <div class="content">
            <h3>{{ t.feature_details_4_heading }}</h3>
            <p>{{ t.feature_details_4_copy_before }}</p>
            <p><strong>{{ t.feature_details_4_copy_after }}<strong></p>
          </div>
        </div>
        <div class="spotlight">
          <div class="image fit">
            <img src="../../images/pic02.jpg" alt=""/>
          </div>
          <div class="content">
            <h3>{{ t.feature_details_5_heading }}</h3>
            <p>{{ t.feature_details_5_copy_before }}</p>
          </div>
        </div>
        <div class="spotlight">
          <div class="image fit alt">
            <img src="../../images/pic02.jpg" alt=""/>
          </div>
          <div class="content">
            <h3>{{ t.feature_details_6_heading }}</h3>
            <p>{{ t.feature_details_6_copy_before }}</p>
          </div>
        </div>
        <div class="spotlight">
          <div class="image fit">
            <img src="../../images/pic03.jpg" alt=""/>
          </div>
          <div class="content">
            <h3>{{ t.feature_details_7_heading }}</h3>
            <p>{{ t.feature_details_7_copy_before }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>