<div id="step-boxes" class="features-grid special">
  <div class="feature-wrapper">
    <div class="feature">
      <h2>1.</h2>
      <h4>{{ t.features_grid_1_heading }}</h4>
      <p>{{ t.features_grid_1_copy }}</p>
    </div>
  </div>
  <div class="feature-wrapper">
    <div class="feature">
      <h2>2.</h2>
      <h4>{{ t.features_grid_2_heading }}</h4>
      <p>{{ t.features_grid_2_copy }}</p>
    </div>
  </div>
  <div class="feature-wrapper">
    <div class="feature">
      <h2>3.</h2>
      <h4>{{ t.features_grid_3_heading }}</h4>
      <p>{{ t.features_grid_3_copy }}</p>
    </div>
  </div>
</div>