<div id="features">
  <div class="wrapper special">
    <div class="inner">
      <header class="heading">
        <h2>{{ t.features }}</h2>
        <!-- <p>Sed egestas, ante et vulputate volutpat semper est, vitae luctus metus libero eu augue. Morbi purus libero, faucibus adipiscing, commodo quis, gravida est. Sed lectus. Praesent elementum hendrerit tortor. Sed at felis. Vestibulum volutpat, lacus a ultrices sagittis, mi neque euismod dui, eu pulvinar nunc sapien ornare nisl.</p> -->
      </header>

      <div id="one" class="features-grid">
        <div class="feature">
          <h4>{{ t.features_1_heading }}</h4>
          <p>
            {{ t.features_1_copy }}
          </p>
        </div>
        <div class="feature">
          <span class="icon solid fa-robot"></span>
          <h4>{{ t.features_2_heading }}</h4>
          <p>
            {{ t.features_2_copy }}
          </p>
        </div>
        <div class="feature">
          <span class="icon solid fa-receipt"></span>
          <h4>{{ t.features_3_heading }}</h4>
          <p>
            {{ t.features_3_copy }}
          </p>
        </div>
        <div class="feature">
          <span class="icon solid fa-archive"></span>
          <h4>{{ t.features_4_heading }}</h4>
          <p>
            {{ t.features_4_copy }}
          </p>
        </div>
        <div class="feature">
          <span class="icon solid fa-check"></span>
          <h4>{{ t.features_5_heading }}</h4>
          <p>
            {{ t.features_5_copy }}
          </p>
        </div>
        <div class="feature">
          <span class="icon solid fa-rocket"></span>
          <h4>{{ t.features_6_heading }}</h4>
          <p>
            {{ t.features_6_copy }}
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="image major" data-position="center">
    <img src="../../images/pic01.jpg" alt=""/>
  </div>
</div>