<div class="notifications">
  <div class="notification notification--error">
    <p class="notification__message">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua.
    </p>
    
    <a class="notification__close" href="#">
      <span class="notification__icon icon solid fa-times"></span>
    </a>
  </div>
</div>
