<div class="notifications">
  <div
    id="email-already-exists-notification"
    class="notification notification--error"
    data-type="email-already-exists"
  >
    <p class="notification__message">
      {{ t.emailAlreadyExistsError }}
    </p>

    <a class="notification__close" href="#">
      <span class="notification__icon icon solid fa-times"></span>
    </a>
  </div>

  <div
    id="email-does-not-exist-notification"
    class="notification notification--error"
    data-type="email-does-not-exist"
  >
    <p class="notification__message">
      {{ t.emailDoesNotExistError }}
    </p>

    <a class="notification__close" href="#">
      <span class="notification__icon icon solid fa-times"></span>
    </a>
  </div>

  <div
    id="email-already-confirmed-notification"
    class="notification notification--error"
    data-type="email-already-confirmed"
  >
    <p class="notification__message">
      {{ t.emailAlreadyConfirmedError }}
    </p>

    <a class="notification__close" href="#">
      <span class="notification__icon icon solid fa-times"></span>
    </a>
  </div>

  <div id="email-confirmed-notification" class="notification notification--info" data-type="email-confirmed">
    <p class="notification__message">
      {{ t.emailConfirmedInfo }}
    </p>

    <a class="notification__close" href="#">
      <span class="notification__icon icon solid fa-times"></span>
    </a>
  </div>
</div>
