<div id="quote">
      <div class="wrapper style1">
        <div class="inner">
          <header class="heading small">
            <h2>{{ t.sign_up }}</h2>
          </header>
          
          <div class="text-center">
            <p>Registration is easy. No credit card required.</p>
          </div>

          <ul class="actions actions--center">
            <li>
              <button
                id="form-button-2"
                class="button large special quote-button"
                data-hide-after-click="true"
              >
                {{ t.start_sign_up }}
              </button>
            </li>
          </ul>

          <form
            id="quote-form"
            class="multi-step-form multi-step-form--hidden"
            method="post"
            action="#"
          >
            <div class="steps">
              <div class="step step--completed" data-step="1">
                <p class="step-number">1</p>
                <p class="step-description">
                  {{ t.input }}
                </p>
              </div>
              <div class="step" data-step="2">
                <p class="step-number">2</p>
                <p class="step-description">
                  {{ t.output }}
                </p>
              </div>
              <div class="step" data-step="3">
                <p class="step-number">3</p>
                <p class="step-description">
                  {{ t.volume }}
                </p>
              </div>
              <div class="step" data-step="4">
                <p class="step-number">4</p>
                <p class="step-description">
                  {{ t.contact }}
                </p>
              </div>
            </div>

            <div class="group group--active" data-step="1">
              <div class="row gtr-uniform">
                <div class="col-6 col-12-xsmall">
                  <div class="row gtr-uniform">
                    <div class="col-12">
                      <label for="data-format-input">{{ t.data_format_label }}*</label>
                      <select
                        name="data-format-input"
                        id="data-format-input"
                        required
                      >
                        <option value="" hidden>{{ t.please_choose }}</option>
                        <option value="pdf">PDF</option>
                        <option value="image">Image (jpeg, png, ...)</option>
                        <option value="paper">Paper</option>
                        <option value="other">Other</option>
                      </select>
                    </div>
                    <div class="col-12">
                      <label for="data-format-input-other">{{ t.data_format_other_label }}*</label>
                      <input
                        type="text"
                        id="data-format-input-other"
                        name="data-format-input-other"
                        placeholder="{{ t.data_format_other_placeholder }}"
                        data-rel="data-format-input"
                        data-visible-when="other"
                        data-required="true"
                      />
                    </div>
                  </div>
                </div>
                <div class="col-6 col-12-xsmall">
                  <div class="row gtr-uniform">
                    <div class="col-12">
                      <label for="data-source">{{ t.data_source_label }}</label>
                      <select name="data-source" id="data-source">
                        <option value="" hidden>{{ t.please_choose }}</option>
                        <option value="web">Web Interface</option>
                        <option value="ftp">(s)FTP</option>
                        <option value="webhooks">Webhooks</option>
                        <option value="api">API</option>
                        <option value="other">Other</option>
                      </select>
                    </div>
                    <div class="col-12">
                      <label for="data-source-other">{{ t.data_source_other_label }}*</label>
                      <input
                        type="text"
                        name="data-source-other"
                        placeholder="{{ t.data_source_other_placeholder }}"
                        data-rel="data-source"
                        data-visible-when="other"
                        data-required="true"
                      />
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <ul class="actions">
                    <li></li>
                    <li>
                      <a id="form-step-next-3" class="button primary" data-next
                        >{{ t.next_step }}</a
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="group" data-step="2">
              <div class="row gtr-uniform">
                <div class="col-6 col-12-xsmall">
                  <div class="row gtr-uniform">
                    <div class="col-12">
                      <label for="data-format-output">
                        {{ t.data_output_label }}*
                      </label>
                      <select
                        name="data-format-output"
                        id="data-format-output"
                        required
                      >
                        <option value="" hidden>{{ t.please_choose }}</option>
                        <option value="json">JSON</option>
                        <option value="xml">XML</option>
                        <option value="csv">CSV</option>
                        <option value="tsv">TSV</option>
                        <option value="x-rechnung">XRechnung</option>
                        <option value="integration"
                          >Third-Party integration</option
                        >
                        <option value="physical">Physical media</option>
                        <option value="other">Other</option>
                      </select>
                    </div>
                    <div class="col-12">
                      <label for="data-format-output-other">
                        {{ t.data_output_other_label }}*
                      </label>
                      <input
                        type="text"
                        id="data-format-output-other"
                        name="data-format-output-other"
                        placeholder="{{ t.data_output_other_placeholder }}"
                        data-rel="data-format-output"
                        data-visible-when="other"
                        data-required="true"
                      />
                    </div>
                  </div>
                </div>
                <div class="col-6 col-12-xsmall">
                  <div class="row gtr-uniform">
                    <div class="col-12">
                      <label for="integration">{{ t.data_integration_label }}</label>
                      <select name="integration" id="integration">
                        <option value="" hidden>{{ t.please_choose }}</option>
                        <option value="sap">SAP</option>
                        <option value="sage">Sage ERP</option>
                        <option value="outright">Outright</option>
                        <option value="netsuite">NetSuite</option>
                        <option value="microsoft-dynamics"
                          >Microsoft Dynamics</option
                        >
                        <option value="other">Other</option>
                      </select>
                    </div>
                    <div class="col-12">
                      <label for="integration-other">{{ t.data_integration_other_label }}*</label>
                      <input
                        type="text"
                        id="integration-other"
                        name="integration-other"
                        placeholder="{{ t.data_integration_other_placeholder }}"
                        data-rel="integration"
                        data-visible-when="other"
                        data-required="true"
                      />
                    </div>
                  </div>
                </div>

                <div class="col-12">
                  <ul class="actions">
                    <li>
                      <a
                        id="form-step-previous-1"
                        class="button primary"
                        data-previous
                        >{{ t.previous_step }}</a
                      >
                    </li>
                    <li>
                      <a id="form-step-next-3" class="button primary" data-next
                        >{{ t.next_step }}</a
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="group" data-step="3">
              <div class="row gtr-uniform">
                <div class="col-6 col-12-xsmall">
                  <label for="expected-volume">{{ t.data_volume_label }}*</label>
                  <select id="expected-volume" name="expected-volume" required>
                    <option value="" hidden>{{ t.please_choose }}</option>
                    <option value="0-1000">0-1,000</option>
                    <option value="1000-5000">1,000-5,000</option>
                    <option value="5000-15000">5,000-15,000</option>
                    <option value="15000">> 15,000</option>
                    <option value="unsure">Not sure</option>
                  </select>
                </div>

                <div class="col-12">
                  <ul class="actions">
                    <li>
                      <a
                        id="form-step-previous-2"
                        class="button primary"
                        data-previous
                        >{{ t.previous_step }}</a
                      >
                    </li>
                    <li>
                      <a id="form-step-next-4" class="button primary" data-next
                        >{{ t.next_step }}</a
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="group" data-step="4">
              <div class="row gtr-uniform">
                <div class="col-6 col-12-xsmall">
                  <label for="first-name">{{ t.first_name }}*:</label>
                  <input
                    type="text"
                    name="first-name"
                    id="first-name"
                    placeholder="{{ t.first_name }}"
                    required
                  />
                </div>
                <div class="col-6 col-12-xsmall">
                  <label for="last-name">{{ t.last_name }}*:</label>
                  <input
                    type="text"
                    name="last-name"
                    id="last-name"
                    placeholder="{{ t.last_name }}"
                    required
                  />
                </div>
                <div class="col-6 col-12-xsmall">
                  <label for="company-name">{{ t.company }}:</label>
                  <input
                    type="text"
                    name="company-name"
                    id="company-name"
                    placeholder="{{ t.company_name }}"
                  />
                </div>
                <div class="col-6 col-12-xsmall">
                  <label for="email">{{ t.email }}*:</label>
                  <input
                    type="email"
                    name="email"
                    id="email"
                    placeholder="{{ t.email }}"
                    required
                  />
                </div>

                <div class="col-12">
                  <ul class="actions">
                    <li>
                      <a
                        id="form-step-previous-3"
                        class="button primary"
                        data-previous
                        >{{ t.previous_step }}</a
                      >
                    </li>
                    <li>
                      <input type="submit" value="Submit" class="primary" />
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="group group--content" data-step="5">
              <h2>{{ t.thank_you_heading }}</h2>

              <p>
                {{ t.thank_you_copy }}
              </p>
            </div>
            
            <div class="text-center"><small>* required<small></div>
          </form>
        </div>
      </div>
    </div>