{% import "i18n/" + lang + ".njk" as t %}
<!DOCTYPE html>
<!-- Visualize by Pixelarity pixelarity.com | hello@pixelarity.com License: pixelarity.com/license -->
<html>
  <head>
    <title>{{ t.title }}</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <link rel="stylesheet" href="../../assets/sass/main.scss"/>
    <link rel="stylesheet" href="../../node_modules/cookieconsent/build/cookieconsent.min.css"/>
  </head>
  <body class="is-preload">
    <noscript >
      <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MPBPVWW" height="0" width="0" style="display:none;visibility:hidden"></iframe >
    </noscript>
    <!-- Header -->
    <header id="header" class="alt {% block headerClass %}{% endblock headerClass %}">
      <a class="logo" href="/"><span>AGENION</span></a>
    </header>

    {% block body %}{% endblock body %}

    {# Footer #}
    <div id="footer">
      <div class="wrapper">
        <div class="inner">
          <div class="links">
            <a href="/about.njk">About</a>
          </div>
           <div class="links">
            <a href="/privacy.njk">Privacy</a>
          </div>
          <div class="copyright">
            {{ t.footer|safe }}
          </div>
          
        </div>
      </div>
    </div>
    <!-- Scripts -->
    <script src="../index.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async="async" src="https://www.googletagmanager.com/gtag/js?id=UA-147336875-1"></script>
  </body>
</html>
