.features-grid {
  width: auto;
  margin: 0;

  .feature {
    @include vendor('justify-content','start');
    @include vendor('flex-wrap', 'nowrap');
    padding: _size(element-margin) * 1.5 _size(element-margin) * 2;
    min-height: 100%;
    padding: 2rem 2rem;
  }

  &.special {
    margin-top: calc(-13rem - 1px);
    box-shadow: none;
    background: none;
    margin-top: calc(-13rem - 1px);
    margin-left: calc(2rem - 10px);
    margin-right: calc(2rem - 10px);
    
    .feature {
      background: white;
      width: 100%;
    }
  }
  .feature-wrapper {
    margin: 10px; 
    width: calc(33% - 20px);
    box-shadow: 0px 25px 75px 0px rgba(0, 0, 0, 0.1);
  }
  
  @include breakpoint('>=large') {
    .feature-wrapper {
      flex-basis: calc(33% - 20px);
    }
  }

  @include breakpoint('<=large') {
    .feature {
      padding: _size(element-margin) * 1 _size(element-margin) * 1.5;
    }
  }

  @include breakpoint('<=medium') {
    .feature {
      @include vendor('justify-content','center');
      padding: 2rem;
    }
  }

  @include breakpoint("<=small") {
    .feature-wrapper {
      width: 100%;
    }
  }
}
