form {
  &.multi-step-form--hidden {
    display: none;
  }

  .steps {
    @include vendor("display", "flex");
    @include vendor("justify-content", "space-around");
    margin-bottom: 2rem;
  }

  .step {
    display: inline-block;
    text-align: center;
    opacity: 0.6;
  }

  .step--completed {
    opacity: 1;
  }

  .step-number {
    margin-bottom: 0;
    border: 2px solid white;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    margin: 0 auto;
    line-height: 60px;
    font-weight: 700;
  }

  .step-description {
    margin-top: 10px;
    font-weight: 700;
    margin-bottom: 0;
  }

  .group {
    display: none;

    .actions {
      @include vendor("justify-content", "space-between");
    }
  }

  .group--active {
    display: block;
  }

  .group--content {
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
  }
}

@include breakpoint("<=xsmall") {
  form {
    select, input[type="text"], input[type="email"] {
      height: 2.75rem;
    }

    .row.gtr-uniform > * {
      padding-top: 1.25rem;
    }

    .step-number {
      width: 40px;
      height: 40px;
      line-height: 40px;
    }

    .group {
      .actions {
        .button {
          height: _size(element-height) * 0.75;
          line-height: _size(element-height) * 0.75;
          padding: 0 1.25rem;
        }
      }
    }
  }
}
